body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#statusContainer {
    margin-bottom: 20px;
}

#statusText {
    font-size: 24px;
    margin-bottom: 10px;
}

#statusCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.available {
    background-color: green;
}

.checked-out {
    background-color: red;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#loginSection {
    margin-top: 30px;
}

#waitlist {
    list-style-type: none;
}
